*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    display: none;
}

#cam-canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
    width: 200px;
    display: none;
}

#sc-canvas {
    width: 100%;
    height: 100%;
}

#splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
}

#penguin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#penguin #face {
    transition: transform 0.5s;
    transform-origin: center;
}

#penguin.left #face {
    transform: translateX(-8px) scaleX(0.95)
}

#penguin.right #face {
    transform: translateX(8px) scaleX(0.95)
}

#penguin #belly {
    transition: transform 0.5s;
}

#penguin.left #belly {
    transform: translateX(-3px)
}

#penguin.right #belly {
    transform: translateX(3px)
}

#penguin #left-wing {
    transition: transform 0.5s;
}

#penguin.left #left-wing {
    transform: translateX(-3px)
}

#penguin.right #left-wing {
    transform: translateX(3px)
}

#penguin #right-wing {
    transition: transform 0.5s;
}

#penguin.left #right-wing {
    transform: translateX(3px)
}

#penguin.right #right-wing {
    transform: translateX(-3px)
}
